body{
    background-image:url('time.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.clock{
  color: white;
  font-size: 6rem;
  gap: 2rem;
  display: flex;
  text-align: center;  
}
h1{
  color: white;
  font-size: 6rem;
  gap: 1rem;
  display: flex;
  text-align: center;
  margin-top: 25%;
}
#seconds
{
  min-width: 5.5rem;
}
p{
  font-size:50px;
  margin-bottom: 30%;
  color: whitesmoke;
}


