.clock{
  color: white;
  font-size: i6rem;
  gap: 2rem;
  display: flex;
  text-align: center;
}
time{
  background-repeat: no repeat;
  width:500px;
  height:100hv;
}
h1{
  color: white;
  font-size: 6rem;
  gap: 1rem;
  display: flex;
  text-align: center;
  margin-top: 25%;
}
#seconds
{
  min-width: 5.5rem;
}
p{
  font-size:50px;
  margin-bottom: 30%;
  color: whitesmoke;
}


