body{
  background-image:url('time.jpg');
  background-repeat: no repeat;
  display: fixed;
  justify-content: center;
  align-items: center;
  height: 50hv;
  margin: 0;
 
}

.clock{
  color: white;
  font-size: 6rem;
  gap: 2rem;
  display: flex;
  text-align: center;
}
h1{
  color: black;
  font-size: 6rem;
  gap: 1rem;
  display: flex;
  text-align: center;
  margin-top: 25%;
}
#seconds
{
  min-width: 5.5rem;
}
p{
  font-size:100px;
  margin-bottom: 30%;
  color: whitesmoke;
}


